@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-Light.ttf');
    src: local('Hind Light'),
    url('../fonts/Hind-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-Regular.ttf');
    src: local('Hind Regular'),
    url('../fonts/Hind-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-Medium.ttf');
    src: local('Hind Medium'),
    url('../fonts/Hind-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-SemiBold.ttf');
    src: local('Hind SemiBold'),
    url('../fonts/Hind-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-Bold.ttf');
    src: local('Hind Bold'),
    url('../fonts/Hind-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
