.footer {
    height: 800px;
    width: 100%;
    background: url("../images/footer-bg.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position-y: 50%;

}

.footer__container {
    padding: 100px 0;
    height: 694px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}

.f-menu {
    height: 350px;
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__f-menu {
    margin-right: 115px;

}
.f-menu-item{
    text-decoration: none;
    color: #cbd3e1;
    font-weight: 500;
}
.f-menu-item:hover{
    color: #fff;
}

.social {
    height: 160px;
    width: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social-item{
    text-decoration: none;
    color: #cbd3e1;
    font-weight: 500;

}
.social-item:hover{
    color: #fff;
}
.footer__social {
    margin-right: 300px;

}

.form {
    height: 500px;
    width: 460px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.form__title{
    margin: 0;
    color: #fff;
}
.form-name,
.form-email,
.form-tel,
.form-message{
    margin-top: 20px;
    padding: 5px 15px;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #cbd3e1;
    font-size: 12px;
    background-color: rgba(0,0,0,.15);
}

.form-message{
    height: 150px;
}
.form__button{
    margin-top: 30px;
    outline: none;
    color: #fff;
    background-color: #17bed2;
    border: 1px solid rgba(255,255,255,0);
}
.form__button:hover{
    color: #fff;
    background-color: #63cbd7;
}
.content {
    width: 100%;
    height: 98px;
    border-top: 1px solid rgba(240, 240, 240, .2);
}
.content__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__text{
    font-size: 15px;
}
.container__link{
    text-decoration: none;
    color: #17bed2;
    font-weight: 700;
}
.container__link:hover{
    color: #a6a7aa;
}
