.block_hidden{
    display: none;
}
.container {
    margin: 0 auto;
    width: 1160px;
    height: 100%;
    /*outline: 1px solid #b57bee;*/

}
.zone-1{
    width: 100%;
    height: 100vh;
}
body{
    font-family: Hind;
    color: #a6a7aa;
    font-weight: 400;
}
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    outline: #5b6cf9;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.navbar{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: rgb(71,75,78);
    position: fixed;
    top: 0;
    z-index: 30;
    transition: background-color .4s;
}

.navbar:hover .logo{
    background-image: url('../images/logo-dark.png');
}
.zone-1:not(:hover) .navbar,
.navbar:hover{
    background-color: #fff;
    border-bottom-color: #f0f0f0;
}

.logo {
    width: 110px;
    height: 20px;
    display: block;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    background-size: 80%;
}
.zone-1:not(:hover)  .logo{
    background-image: url('../images/logo-dark.png');
}
.zone-2:hover .navbar:hover .logo{
    background-image: url('../images/logo-dark.png');
}


.menu {
    width: 510px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.zone-1:not(:hover) .menu-item,
.navbar:hover .menu-item{
    color: rgb(71,75,78);
}

.menu-item::before {
    content: '';
    display: block;
    opacity: 0;
    transition: opacity .8s;
}

.menu-item_color {
    color: #fff;
}

.menu-item:hover::before,
.menu-item_active::before {
    content: '-';
    opacity: 1;
    color: rgb(30, 193, 208);
    font-size: 27px;
    display: block;
    position: absolute;
    left: -15px;
    top: -8px;
}

.slider {
    position: relative;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
    display: flex;
    background-position: 200px 100px;
}

.slide {
    /*padding-top: 22rem;*/
    padding-top: 33vh;
    width: 100vw;
    height: 100%;
}

.slide__firs-position {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 5s;
    animation: slide-first 20s ease infinite;
}

.slide__second-position {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transition: left 5s;
    animation: slide-second 20s infinite;

}

.slide_first-img {
    background-image: url('../images/h-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.slide_second-img {
    background-image: url('../images/h-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.slide__title{
    margin: 0.2em 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 5rem;
}
.slide__text{
    color: rgb(174,173,169);
    width: 470px;
}
.button {
    width: 115px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgb(174, 173, 169);
}

.button:hover {
    background-color: #fff;
    color: rgb(71, 75, 78);
    transition: background-color .5s, color .5s;
}
.slider__button{
    margin-top: 3.5em;
}
.radiobox{
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__radiobox{
    position: absolute;
    left: 0;
    top: -70px;
    z-index: 20;
}

.indicator{
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px solid rgb(174, 173, 169);
    border-radius: 50%;
    position: relative;
}
.indicator_first{
    animation: firstradio 20s ease infinite;
}

.indicator_second{
    animation: secondradio 20s ease infinite;
}

