.ourclients {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 400px;
}

.left-part__inner,
.right-part__inner {
    width: 100%;
    height: 100%;
}

.left-part__inner {
    display: flex;
    justify-content: flex-end;
}

.ourclients__container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 570px;
    height: 100%;
    padding: 80px 40px 80px 0;
}

.right-part__inner {
    overflow: hidden;
}

.ourclients__photo {
    max-width: 100%;
}
