.clients {
    width: 100%;
    height: 270px;

    background-color: rgb(250, 250, 250);
}

.clients__container {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.slide-wripper {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    transform: translate3d(0px, 0px, 0px);
}

.client {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 85px;
    margin: 0 15px;

    transition: opacity .4s;

    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: 90%;
}

.client:hover {
    opacity: .8;
}

.client-discord {
    background-image: url('../images/cl-discord.png');
}

.client-netflix {
    background-image: url('../images/cl-netflix.png');
}

.client-broadcom {
    background-image: url('../images/cl-broadcom.png');
}

.client-hoop {
    background-image: url('../images/cl-hoop.png');
}

.client-airbnb {
    background-image: url('../images/cl-airbnb.png');
}

.client-heineken {
    background-image: url('../images/cl-heineken.png');
}
