.price {
    width: 100%;
    height: 780px;

    background-color: rgb(250, 250, 250);
}

.price__container {
    display: flex;
    align-items: center;

    height: 100%;
}

.price-wrapper {
    display: flex;
    align-items: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 380px;
    height: 495px;
    margin: 1px;
    padding: 45px;

    background-color: #fff;
}

.price-wrapper_large {
    height: 570px;
}

.price-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 375px;
}

.currency {
    font-size: 15px;
    font-weight: 400;

    color: #bfc1c7;
}

.offers {
    padding: 0 20px;
}

.offer-item {
    font-size: 13px;
    font-weight: 500;

    position: relative;

    margin-bottom: 10px;

    list-style-type: none;

    color: #81848f;
}

.offer-item:before {
    position: absolute;
    top: 5px;
    left: -20px;

    width: 9px;
    height: 2px;

    content: '';

    background: #17bed2;
}

.price-box__button {
    margin-top: 25px;

    border: 1px solid rgba(174, 173, 169, 0);
}

.button_color-grey {
    color: #515769;
    background-color: #f3f4f5;
}

.button_color-grey:hover {
    color: #fff;
    background-color: #17bed2;
}
