.zone-3:focus .product__photo,
.zone-3:hover .product__photo {
    animation-play-state: running;
}

.products {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 760px;
    padding: 100px 0;
}

.title_size-large {
    font-size: 30px;
}

.products__subtitle {
    width: 520px;
}

.products-box {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 55px;
}

.product {
    display: flex;
    flex-direction: column;

    width: 365px;
    height: 410px;
    margin: 1px;
}

.img-container {
    width: 100%;
    height: 240px;
}

.product__photo {
    width: 100%;
    height: 100%;

    animation: products-animate 1s;
    animation-play-state: paused;
}

.product__title {
    margin-top: 20px;
    margin-bottom: 0;
    text-decoration: none;
}
.product__title:hover{
    color: #999caa;
}
.category {
    font-size: 14px;
    font-weight: 400;

    margin-left: 20px;

    text-transform: uppercase;

    color: #bfc1c7;
}


.link {
    font-size: 13px;
    font-weight: 600;

    position: relative;

    width: 75px;
    margin-top: 10px;

    transition: color .4s;
    text-decoration: none;
    text-transform: uppercase;

    color: #81848f;
}

.link:after {
    position: absolute;
    top: 5px;
    right: -13px;

    width: 9px;
    height: 2px;

    content: '';

    background: #17bed2;
}

.link:hover {
    color: #999caa;
}
