.zone-4:focus .collection,
.zone-4:hover .collection{
    animation-play-state: running;
}

.showcase {
    overflow: hidden;
    width: 100%;
    height: 1030px;
    background-color: rgb(250, 250, 250);
}

.showcase__container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 95px 0;
}

.showcase__subtitle {
    width: 520px;
}

.collection {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 667px;
    margin-top: 50px;

    animation: showcase-animate 1s ease forwards;
    animation-play-state: paused;
}

.img-item {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: flex-end;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 10px 20px;

    text-decoration: none;
}

.img-item:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: background-color .6s;
    background-color: rgba(0, 0, 0, 0);
}

.img-item:hover:before {
    background-color: rgba(0, 0, 0, .6);
}

.img-first {
    order: 1;

    width: 760px;
    height: 375px;
    margin: 1px;

    background-image: url('../images/sh-01.jpg');
}

.img-second {
    order: 2;

    width: 380px;
    height: 375px;
    margin: 1px;

    background-image: url('../images/sh-02.jpg');
}

.img_third {
    order: 3;

    width: 378px;
    height: 285px;
    margin: 1px;

    background-image: url('../images/sh-03.jpg');
}

.img-forth {
    order: 4;

    width: 380px;
    height: 285px;
    margin: 1px;

    background-image: url('../images/sh-04.jpg');
}

.img-fifth {
    order: 5;

    width: 380px;
    height: 285px;
    margin: 1px;

    background-image: url('../images/sh-05.jpg');
}

.img-item__content {
    position: relative;
    z-index: 2;
    bottom: -10px;

    display: block;

    transition: bottom .6s, opacity .6s;
    opacity: 0;
}

.img-item:hover .img-item__content {
    bottom: 20px;

    opacity: 1;
}

.title_color-white {
    color: #fff;
}

.img-item__subtitle {
    margin: 0;
}

.subtitle_color-white {
    color: #fff;
}
